.header{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px 20px;
  margin:5px;
  color: rgb(248, 115, 63);
  background-color: lightgreen;
}
.header button{
  height: 20px;
  width:50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(110, 83, 226);
}
.login{
  text-decoration: underline;
}